.image {
    margin: 0px 0 0 0;
    padding: 10px 0 0 0;
    display: inline-block;
}

.coffee {
    display: inline-block;
    padding: 6px 0 0 0;
    font-size: 40px;
}

.coffee:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: end;
}